
.icon-section{
    text-align: center;
    background-color: #002244;
    background: url('../../public//images/main-background-1.png') no-repeat;
    background-size: 100% 100%;
}
  .explore-button-container-1 {
    /* margin: 1rem 0; */
  }
  .icon-information h1{
    color: white;
  }
  
  .explore-button-1 {
    background: black;
    border: 2px solid #e00;
    color: #fff;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }  
  .icon-information{
    font-size: 20px;
  }
  .icon-images img{
    width: 100px;
  }
  .icon-images{
    display: grid;
    grid-template-columns: repeat(7, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;
    padding-left: 40px;
  }
  @media (max-width:940px){
    .icon-section .icon-images{
      display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;
    padding-left: 40px;
    }
  }
  @media (max-width:400px){
    .icon-section .icon-images{
      display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;
    padding-left: 40px;
    }
  }