@keyframes zoomBackground {
  from {
    background-size: 100% 100%;
  }
  to {
    background-size: 120% 120%;
  }
}



.main-container {
  color: #fff;
  background-color: #000;
  font-family: 'Arial', sans-serif;
  background: url('../../public/images/glob.jpeg') no-repeat center center fixed;
  background-size: 100% 100%;
  animation: zoomBackground 10s infinite alternate ease-in-out;
}
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navigation a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
  }
  
  .schedule-meeting {
    background-color: #e00;
    border-radius: 50px;
    border: 1px solid #fff;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
  }
  
  .schedule-meeting {
    background-color: #f00;
    border-color: #f00;
  }
  
  .content {
    text-align: center;
    position: relative;
  }
  
  .title {
    font-size: 3rem;
    font-weight: bold;
    margin: 2rem 0;
  }
  
  .explore-button-container {
    margin: 1rem 0;
  }
  
  .explore-button {
    background: black;
    border: 2px solid #e00;
    color: #fff;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .globe-container {
    /* Placeholder for the globe graphics */
    height: 300px; /* Adjust as necessary */
    /* background-image: url('path-to-globe-image.png'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }
  @media (max-width:700px)
  {
    .navigation{
      display: none;
    }
  }









  .login-btn {
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
   }
   
   .login-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .login-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .login-btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .login-btn::after {
    background-color: #fff;
   }
   
   .login-btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }